#main.css {
	padding-left: 30px;
}


body {
  width: 100%;
  height: 100%;
  background-color: #34495e;
  color: #FFFFFF;
}

#main {
	padding-left: 50px;
	padding-right: 40px;
	padding-top: 30px;
}

#pastproject {

body{

}